In [1]:
import pandas as pd

In [5]:
births=pd.read_csv("US_births_2000-2014_SSA.csv")

In [12]:
births_2000=births.loc[births["year"]==2000]
births_2001=births.loc[births["year"]==2001]
births_2002=births.loc[births["year"]==2002]
births_2003=births.loc[births["year"]==2003]
births_2004=births.loc[births["year"]==2004]
births_2005=births.loc[births["year"]==2005]
births_2006=births.loc[births["year"]==2006]
births_2007=births.loc[births["year"]==2007]
births_2008=births.loc[births["year"]==2008]
births_2009=births.loc[births["year"]==2009]
births_2010=births.loc[births["year"]==2010]
births_2011=births.loc[births["year"]==2011]
births_2012=births.loc[births["year"]==2012]
births_2013=births.loc[births["year"]==2013]
births_2014=births.loc[births["year"]==2014]

In [13]:
'''
births_nr_00=births_2000["births"].sum()
births_nr_01=births_2001["births"].sum()
births_nr_02=births_2002["births"].sum()
births_nr_03=births_2003["births"].sum()
births_nr_04=births_2004["births"].sum()
births_nr_05=births_2005["births"].sum()
births_nr_06=births_2006["births"].sum()
births_nr_07=births_2007["births"].sum()
births_nr_08=births_2008["births"].sum()
births_nr_09=births_2009["births"].sum()
births_nr_10=births_2010["births"].sum()
births_nr_11=births_2011["births"].sum()
births_nr_12=births_2012["births"].sum()
births_nr_13=births_2013["births"].sum()
births_nr_14=births_2014["births"].sum()

print(births_nr_00, births_nr_01)
'''

4149598 4110963

In [16]:
unique_years=births["year"].unique()
print(unique_years)
year_dict={}
for year in unique_years:
    reduced_df=births.loc[births["year"]==year]
    births_nr=reduced_df["births"].sum()
    year_dict[year]=births_nr
print(year_dict)

[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014]
{2000: 4149598, 2001: 4110963, 2002: 4099313, 2003: 4163060, 2004: 4186863, 2005: 4211941, 2006: 4335154, 2007: 4380784, 2008: 4310737, 2009: 4190991, 2010: 4055975, 2011: 4006908, 2012: 4000868, 2013: 3973337, 2014: 4010532}

In [19]:
births_serie=pd.Series(year_dict)
births_per_year_df=pd.DataFrame(births_serie, columns=["births_nr"])

In [20]:
births_per_year_df

      births_nr
2000    4149598
2001    4110963
2002    4099313
2003    4163060
2004    4186863
2005    4211941
2006    4335154
2007    4380784
2008    4310737
2009    4190991
2010    4055975
2011    4006908
2012    4000868
2013    3973337
2014    4010532

'C:\\Users\\Bruno'