In [1]:
import pandas as pd
import numpy as np

We have a dataset of used cars sold in eBay Germany, we want to clean the dataset and analyze the included used cars listing

In [ ]:
autos=pd.read_csv("autos.csv", encoding="Latin-1")

In [130]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34306 entries, 0 to 49999
Data columns (total 18 columns):
date_crawled          34306 non-null int64
name                  34306 non-null object
seller                34306 non-null object
offer_type            34306 non-null object
price_usd             34306 non-null float64
abtest                34306 non-null object
vehicle_type          34306 non-null object
registration_year     34306 non-null int64
gearbox               34306 non-null object
power_ps              34306 non-null int64
model                 34306 non-null object
odometer_km           34306 non-null int64
registration_month    34306 non-null int64
fuel_type             34306 non-null object
brand                 34306 non-null object
unrepaired_damage     34306 non-null object
ad_created            34306 non-null int64
last_seen             34306 non-null int64
dtypes: float64(1), int64(7), object(10)
memory usage: 5.0+ MB

In [127]:
autos

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,last_seen
0,20160326,Peugeot_807_160_NAVTECH_ON_BOARD,private,offer,5000.0,control,bus,2004,manual,158,other,150000,3,lpg,peugeot,no,20160326,20160406
1,20160404,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,private,offer,8500.0,control,limousine,1997,automatic,286,7er,150000,6,gasoline,bmw,no,20160404,20160406
2,20160326,Volkswagen_Golf_1.6_United,private,offer,8990.0,test,limousine,2009,manual,102,golf,70000,7,gasoline,volkswagen,no,20160326,20160406
3,20160312,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,private,offer,4350.0,control,city car,2007,automatic,71,fortwo,70000,6,gasoline,smart,no,20160312,20160315
4,20160401,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,private,offer,1350.0,test,station wagon,2003,manual,0,focus,150000,7,gasoline,ford,no,20160401,20160401
7,20160316,Golf_IV_1.9_TDI_90PS,private,offer,1990.0,control,limousine,1998,manual,90,golf,150000,12,diesel,volkswagen,no,20160316,20160407
9,20160316,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,private,offer,590.0,control,bus,1997,manual,90,megane,150000,7,gasoline,renault,no,20160316,20160406
12,20160331,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,private,offer,5299.0,control,city car,2010,automatic,71,fortwo,50000,9,gasoline,smart,no,20160331,20160406
13,20160323,Audi_A3_1.6_tuning,private,offer,1350.0,control,limousine,1999,manual,101,a3,150000,11,gasoline,audi,no,20160323,20160401
16,20160316,Opel_Vectra_B_Kombi,private,offer,350.0,test,station wagon,1999,manual,101,vectra,150000,5,gasoline,opel,no,20160316,20160318
17,20160329,Volkswagen_Scirocco_2_G60,private,offer,5500.0,test,coupe,1990,manual,205,scirocco,150000,6,gasoline,volkswagen,no,20160329,20160405
19,20160317,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,private,offer,4150.0,control,suv,2004,manual,124,other,150000,2,lpg,mazda,no,20160317,20160317
21,20160306,Porsche_911_Carrera_4S_Cabrio,private,offer,41500.0,test,cabrio,2004,manual,320,911,150000,4,gasoline,porsche,no,20160306,20160405
22,20160328,MINI_Cooper_S_Cabrio,private,offer,25450.0,control,cabrio,2015,manual,184,cooper,10000,1,gasoline,mini,no,20160328,20160401
24,20160403,BMW_535i_xDrive_Sport_Aut.,private,offer,48500.0,control,limousine,2014,automatic,306,5er,30000,12,gasoline,bmw,no,20160403,20160407
26,20160403,Volkswagen_Polo_Fox,private,offer,777.0,control,city car,1992,manual,54,polo,125000,2,gasoline,volkswagen,no,20160403,20160405
28,20160319,MINI_Cooper_D,private,offer,5250.0,control,city car,2007,manual,110,cooper,150000,7,diesel,mini,yes,20160319,20160407
29,20160402,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,private,offer,4999.0,test,station wagon,2004,automatic,204,e_class,150000,10,diesel,mercedes_benz,no,20160402,20160402
31,20160314,Noch_gut_erhaltenen_C_320,private,offer,2850.0,test,station wagon,2002,automatic,218,c_class,150000,7,gasoline,mercedes_benz,no,20160314,20160316
33,20160315,Audi_A3_2.0_TDI_Sportback_DPF_Kupplung_defekt_...,private,offer,4800.0,test,station wagon,2006,manual,140,a3,150000,8,diesel,audi,no,20160315,20160407
35,20160329,Ford_Mondeo,private,offer,1200.0,test,station wagon,1998,manual,0,mondeo,150000,12,gasoline,ford,no,20160329,20160406
36,20160316,Ford_Mondeo_2.0_Turnier_TDCi_DPF_Titanium,private,offer,7500.0,test,station wagon,2007,manual,131,mondeo,150000,11,diesel,ford,no,20160316,20160405
37,20160323,Seat_Altea_XL_2.0_TDI_CR_DPF_Style,private,offer,13800.0,test,bus,2012,manual,140,altea,90000,2,diesel,seat,no,20160323,20160405
38,20160321,Volkswagen_Golf_1.4_Special,private,offer,2850.0,control,limousine,2002,manual,75,golf,125000,2,gasoline,volkswagen,no,20160321,20160328
39,20160311,Mercedes_C_180_Kombi__zu_verkaufen,private,offer,1450.0,test,station wagon,1999,automatic,122,c_class,150000,6,gasoline,mercedes_benz,no,20160311,20160406
40,20160307,VW_Golf__4_Cabrio_2.0_GTI_16V___Leder_MFA_Alus...,private,offer,3500.0,control,cabrio,1999,manual,150,golf,150000,1,gasoline,volkswagen,no,20160307,20160312
43,20160308,Audi_A1_1.2_TFSI_Attraction_mit_Garantie,private,offer,11500.0,test,city car,2011,manual,86,a1,60000,9,gasoline,audi,no,20160308,20160407
44,20160312,Zu_verkaufen,private,offer,900.0,control,city car,1998,manual,43,twingo,150000,7,gasoline,renault,no,20160312,20160406
45,20160312,Toyota_Starlet_1.3,private,offer,1000.0,test,city car,1995,manual,75,other,150000,3,gasoline,toyota,no,20160312,20160407
47,20160328,Mercedes_Benz_A_150,private,offer,3499.0,control,limousine,2008,manual,95,a_class,150000,8,gasoline,mercedes_benz,no,20160328,20160401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49953,20160330,Ford_Mustang,private,offer,14750.0,control,coupe,1967,automatic,163,mustang,125000,8,gasoline,ford,no,20160330,20160330
49956,20160328,Toyota_Yaris_1.3_VVT_i_Executive_MODEL_2007,private,offer,4450.0,control,city car,2006,manual,87,yaris,125000,9,gasoline,toyota,no,20160328,20160330
49959,20160328,Mercedes_Benz_C_180_T_Kompressor_Classic,private,offer,4200.0,control,station wagon,2003,manual,143,c_class,150000,12,gasoline,mercedes_benz,no,20160328,20160407
49962,20160314,Mitsubishi_Space_Star_1__3_L__Bj_2004_Standhei...,private,offer,2200.0,test,limousine,2004,manual,82,other,150000,4,gasoline,mitsubishi,yes,20160314,20160315
49963,20160326,Mercedes_Benz_B_200_CDI_Special_Edition,private,offer,7600.0,control,bus,2007,manual,140,b_class,125000,5,diesel,mercedes_benz,no,20160326,20160328
49965,20160311,Opel_Astra_1.6_Lenkradheizung~Sitzheizung,private,offer,6700.0,test,limousine,2011,manual,116,astra,125000,3,gasoline,opel,no,20160311,20160315
49966,20160402,CitroÃ«n_C1_1.0_**Euro4**TÃœV_OKT_2017**Scheiten...,private,offer,1490.0,control,city car,2006,manual,68,c1,150000,7,gasoline,citroen,yes,20160402,20160402
49968,20160401,Mercedes_Benz_190_D_2.5_Automatik,private,offer,2100.0,test,limousine,1986,automatic,90,other,150000,9,diesel,mercedes_benz,no,20160401,20160405
49969,20160317,Nissan_X_Trail_2.2_dCi_4x4_Sport_m.AHZ,private,offer,4500.0,control,suv,2005,manual,136,x_trail,150000,5,diesel,nissan,no,20160317,20160325
49970,20160321,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,private,offer,15800.0,control,bus,2010,automatic,136,c4,60000,4,diesel,citroen,no,20160321,20160407
49971,20160329,W.Lupo_1.0,private,offer,950.0,test,city car,2001,manual,50,lupo,150000,4,gasoline,volkswagen,no,20160329,20160329
49972,20160326,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,private,offer,3300.0,control,bus,2004,automatic,150,vito,150000,10,diesel,mercedes_benz,yes,20160326,20160328
49973,20160327,Mercedes_Benz_SLK_200_Kompressor,private,offer,6000.0,control,cabrio,2004,manual,163,slk,150000,11,gasoline,mercedes_benz,no,20160327,20160327
49975,20160327,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,private,offer,9700.0,control,city car,2012,automatic,88,jazz,100000,11,hybrid,honda,no,20160327,20160405
49976,20160319,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,private,offer,5900.0,test,station wagon,1992,automatic,150,80,150000,12,gasoline,audi,no,20160319,20160407
49977,20160331,Mercedes_Benz_C200_Cdi_W203,private,offer,5500.0,control,limousine,2003,manual,116,c_class,150000,2,diesel,mercedes_benz,no,20160331,20160406
49978,20160404,Mercedes_Benz_E_200_Classic,private,offer,900.0,control,limousine,1996,automatic,136,e_class,150000,9,gasoline,mercedes_benz,yes,20160404,20160406
49979,20160320,Volkswagen_Polo_1.6_TDI_Style,private,offer,11000.0,test,city car,2011,manual,90,polo,70000,11,diesel,volkswagen,no,20160320,20160407
49981,20160315,Opel_Astra_Kombi_mit_Anhaengerkupplung,private,offer,2000.0,control,station wagon,1998,manual,115,astra,150000,12,gasoline,opel,no,20160315,20160405
49986,20160404,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,private,offer,15900.0,control,limousine,2010,automatic,218,300c,125000,11,diesel,chrysler,no,20160404,20160406
49987,20160322,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,private,offer,21990.0,control,limousine,2013,manual,150,a3,50000,11,diesel,audi,no,20160322,20160326
49988,20160328,BMW_330_Ci,private,offer,9550.0,control,coupe,2001,manual,231,3er,150000,10,gasoline,bmw,no,20160328,20160407
49990,20160321,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,private,offer,17500.0,test,limousine,2012,manual,156,a_class,30000,12,gasoline,mercedes_benz,no,20160321,20160406
49992,20160310,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,private,offer,4800.0,control,city car,2009,manual,120,other,125000,9,lpg,fiat,no,20160310,20160313
49994,20160322,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,private,offer,5000.0,control,station wagon,2001,automatic,299,a6,150000,1,gasoline,audi,no,20160322,20160406
49995,20160327,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,private,offer,24900.0,control,limousine,2011,automatic,239,q5,100000,1,diesel,audi,no,20160327,20160401
49996,20160328,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,private,offer,1980.0,control,cabrio,1996,manual,75,astra,150000,5,gasoline,opel,no,20160328,20160402
49997,20160402,Fiat_500_C_1.2_Dualogic_Lounge,private,offer,13200.0,test,cabrio,2014,automatic,69,500,5000,11,gasoline,fiat,no,20160402,20160404
49998,20160308,Audi_A3_2.0_TDI_Sportback_Ambition,private,offer,22900.0,control,station wagon,2013,manual,150,a3,40000,11,diesel,audi,no,20160308,20160405
49999,20160314,Opel_Vectra_1.6_16V,private,offer,1250.0,control,limousine,1996,manual,101,vectra,150000,1,gasoline,opel,no,20160313,20160406

In [ ]:
autos.isnull().sum()

There are multiple columns with null values, in particular the following columns: vehicleType (5095), gearbox(2680), model(2758), fuelType (4482), notRepairedDamage (9829).

In [ ]:
corrections=['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'pictures_nr', 'postal_code',
       'last_seen']
autos.columns=corrections

I just changed the column labels from Camelcase to snake case which means replacing the spaces with underscores and turning all the upper cases to lower cases.

In [ ]:
autos.describe(include='all')

-The 99.99% of the values in the columns "seller" and "offer_type" are respectively "privat" and "Angebot" so we could directly consider that all the offers were posted by privates and their type is Angebot, discarding these two columns.

-The values in the columns "price" and "odometer" are number easily convertible to int/float.

-The "registration_year/month", "power_ps", "pictures_nr" and "postal_code" columns already include integer values and not strings.

In [ ]:
# Let's change the type of datas in the Price and Odometer columns from strings to float or int
# and rename the columns in price_usd and odometer_km


autos["price"]=autos["price"].str.replace("$","").str.replace(",","").astype(float)
autos["odometer"]=autos["odometer"].str.replace("km","").str.replace(",","").astype(int)
#print(autos["odometer"])
autos.rename({"odometer":"odometer_km"},axis=1,inplace=True)
autos.rename({"price":"price_usd"},axis=1,inplace=True)
print(autos.dtypes)

In [ ]:
# Let's have a look at the different prices of the cars for sale to see
# how many cars are sold for the same price and let's order the count in ascending order

autos["price_usd"].value_counts().sort_index(ascending=True).head(100)

In [ ]:
# Let's consider only cars sold for a price included in the range [200,999999]USD, discarding all the other rows.

out_range=autos.loc[~autos["price_usd"].between(200,999999)]
autos.drop(out_range.index.values,axis=0,inplace=True)

While the values in the "odometer_km" column seem to be acceptable (there's not a logic limit to set), the values in the "price_usd" column range from 0 to 10 million dollars. 
Appearing unlikely that someone would use eBay to advertise a free car or a car worth over a million dollars, we decided to exclude prices below 200$ and over 1 million dollar.
We obtained the indexes of the rows with prices outside this range thanks to the method "index.values" and then used the .drop() method to exclude them.

There are dates written in the columns "date_crawled", "ad_created", "registration_month", "registration_year" and "last_seen". We could extract the digits of the different dates using the str.split() method and create new columns for the years and the months.

In [ ]:
#autos["date_crawled"].value_counts().head()
#autos["ad_created"].value_counts(normalize=True).head()
autos["last_seen"].value_counts().head()

Both the date_crawled and the last_seen values are included in the range 05/03/2016 and 07/04/2016, while the ad_created values belong to the range 11/06/2015 - 07/04/2016. The most recurring dates belonging to these 3 columns are 03-04-2016 (ad_created, #:1857 ~4%), 07-04-2016 (last_seen, #:8 ~0.017%) and multiple dates for date_crawled (all in quantity of #:3,which means approximately 0.0063%).

In [ ]:
autos["registration_year"].describe()

It appears evident that many outliers are included in the "registration_year" column. Having a look at the values of the column through the "describe" method, it appears peculiar to notice that the minimum value is 1000 and the maximum is 9999 which are, obviously, impossible values to accept.

In [ ]:
out_of_range_years=autos.loc[~autos["registration_year"].between(1900,2016)]
autos.drop(out_of_range_years.index.values,axis=0,inplace=True)

In [ ]:
autos["registration_year"].value_counts()

We decided to count the number of listings with cars that fall outside the 1900 - 2016 and to cancel their rows.
Now it appears that 3019 (~6.5%) cars in this list were registered in the year 2000.

In [ ]:
# Let's calculate the mean price per brand sold on eBay

first_brands=autos["brand"].unique()

mean_per_brand={}
for brand in first_brands:
    df_branded=autos.loc[autos["brand"]==brand]
    mean_per_brand[brand]=df_branded["price_usd"].mean()
print(mean_per_brand)

In [123]:
# We repeated the calculation just for the 10 most sold brands, first creating a DataFrame 
# with the 10 most sold brands (first_brand) and then creating a dictionary (dictionary) 
# to associate a mean price to every brand

first_brand=autos["brand"].value_counts(normalize=True).head(10)
print(first_brand)

dictionary={}
for index in first_brand.index:
    red_df=autos.loc[autos["brand"]==index]
    mean_br=red_df["price_usd"].mean()
    dictionary[index]=mean_br

print(dictionary)

volkswagen       0.206145
bmw              0.117356
mercedes_benz    0.103422
opel             0.101265
audi             0.092200
ford             0.066519
renault          0.044569
peugeot          0.029907
fiat             0.023261
seat             0.018889
Name: brand, dtype: float64
{'bmw': 9237.371087928464, 'volkswagen': 6489.714649321267, 'ford': 4872.069237510956, 'renault': 2968.1294964028775, 'seat': 5013.733024691358, 'mercedes_benz': 9556.609075535513, 'peugeot': 3490.293372319688, 'fiat': 3350.2406015037595, 'opel': 3495.1171560161197, 'audi': 10591.7094530509}

Having analyzed the first ten most occurring brands (until the ~2% of the total), we can say that their mean price varies in the range [2552-9406]USD. With the renault cars being generally the cheapest ones and the audi cars the most expensive ones.
The most expensive brands are:
1)Audi 9406USD - Occurrence rate ~9%
2)Mercedes Benz 8691USD - Occurrence rate ~10%
3)BMW 8402USD - Occurrence rate ~11%
SO we can state that ~30% of the used cars sold in eBay Germany are german expensive cars and include cars of just 3 three brands. While putting together the three cheapest brands (renault(2552USD), fiat(2925USD) and opel (3077USD)) we are taking into account just ~17% of the total.
This could be a way to measure the wealth of a country, Germany is the economical leading country of Europe, its population is generally wealthier than the average of people living in the same continent and therefore they tend to buy more expensive goods.

In [ ]:
# Let's create 3 new dictionaries associating to each brand its mean ratio power/price, its mean power and its mean odometer

mean_power={}
mileage={}
power_on_price={}
for index in first_brand.index:
    reduced=autos.loc[autos["brand"]==index]
    power=reduced["power_ps"].mean()
    odom=reduced["odometer_km"].mean()
    mean_pr=reduced["price_usd"].mean()
    pop=power/mean_pr
    power_on_price[index]=pop
    mean_power[index]=power
    mileage[index]=odom
#print(mean_power)
#print(mileage)
#print(power_on_price)

In [124]:
# Let's convert the newly created dictionaries into pandas Series and then let's make a new DataFrame with all the 
# calculated mean values associated to the most popular brands

mean_series_1=pd.Series(dictionary)
mean_series_2=pd.Series(mean_power)
mean_series_3=pd.Series(mileage)
mean_series_4=pd.Series(power_on_price)

mean_df=pd.DataFrame(mean_series_1, columns=['mean_price_usd'])
mean_df["mean_power_ps"]=mean_series_2
mean_df["mean_mileage_km"]=mean_series_3
mean_df["power_on_price"]=mean_series_4
mean_df

               mean_price_usd  mean_power_ps  mean_mileage_km  power_on_price
audi              9406.093244     161.527300    129260.782847        0.017173
bmw               8402.666078     168.088536    132792.500982        0.020004
fiat              2925.954743      71.299391    116949.521323        0.024368
ford              4199.720140     103.312897    124096.251588        0.024600
mercedes_benz     8691.717450     152.876510    131091.722595        0.017589
opel              3077.577232      97.728604    129231.800371        0.031755
peugeot           3142.016047      92.992706    126929.248724        0.029597
renault           2552.515251      82.334115    128052.557485        0.032256
seat              4505.462740      98.310096    121604.567308        0.021820
volkswagen        5712.041141     100.064606    128779.201985        0.017518

Having said about the mean prices, we analyzed also the mean power and it seems that the most powerful cars sold in eBay Germany are also the most expensive ones: Audi (161.5), BMW (168.1) and Mercedes (152.9). These brands occupy the first spots also in the "most used cars" chart, infact the mean mileage for these brands are the highest ones (exceeding or almost exceeding the 130000 kms), curious fact, the least used is the fiat with a mean mileage of 116000 kms.
Finally we analyzed the "quality on price" ratio or, it may be better to call it, the "power on price" ratio and it seems that the most convenient car to buy for an eBay Germany client is a Renault (0.032), immediately followed by Opel (0.031) while the most expensive brands (Audi, Mercedes and BMW) and the Volkswagen seem to be the least convenient ones [0.017-0.02]. So, in conclusion, Renault and Opel cars are twice as convenient, for a buyer, than the most expensive cars.

In [ ]:
# Let's translate all the terms in german to english

unique_seller=autos["seller"].unique()
autos["seller"]=autos["seller"].str.replace("privat","private")
autos["seller"]=autos["seller"].str.replace("privatee","private")

unique_offer=autos["offer_type"].unique()
autos["offer_type"]=autos["offer_type"].str.replace("Angebot","offer")

unique_abtest=autos["abtest"].unique()

unique_veh_type=autos["vehicle_type"].unique()
autos["vehicle_type"]=autos["vehicle_type"].str.replace("kleinwagen","city car")
autos["vehicle_type"]=autos["vehicle_type"].str.replace("kombi","station wagon")
autos["vehicle_type"]=autos["vehicle_type"].str.replace("andere","other")

unique_gear=autos["gearbox"].unique()
autos["gearbox"]=autos["gearbox"].str.replace("manuell","manual")
autos["gearbox"]=autos["gearbox"].str.replace("automatik","automatic")

unique_fuel_type=autos["fuel_type"].unique()
autos["fuel_type"]=autos["fuel_type"].str.replace("benzin","gasoline")
autos["fuel_type"]=autos["fuel_type"].str.replace("cng","natural gas")
autos["fuel_type"]=autos["fuel_type"].str.replace("elektro","electric")
autos["fuel_type"]=autos["fuel_type"].str.replace("andere","other")

unique_damage=autos["unrepaired_damage"].unique()
autos["unrepaired_damage"]=autos["unrepaired_damage"].str.replace("ja","yes")
autos["unrepaired_damage"]=autos["unrepaired_damage"].str.replace("nein","no")

autos["model"]=autos["model"].str.replace("andere","other")

In [ ]:
# Let's get rid of all the rows with null values

column_labels=autos.columns
for label in column_labels:
    exclude_nan=autos.loc[autos[label].isnull()]
    autos.drop(exclude_nan.index.values, axis=0, inplace=True)

Getting rid of all the rows with null values, we reduced the number of rows from 50.000 to 34.306. Which means that around 31% of the datas were discarded.

In [ ]:
# Let's separate the dates in the format YYYY-MM-DD from the time. We are using str.split that will replace the
# initial column with the first column after the separation took place

autos["date_crawled"]=autos["date_crawled"].str.split(n=1, expand=True)
autos["date_crawled"]=autos["date_crawled"].str.replace("-","").astype(int)

autos["ad_created"]=autos["ad_created"].str.split(n=1, expand=True)
autos["ad_created"]=autos["ad_created"].str.replace("-","").astype(int)

autos["last_seen"]=autos["last_seen"].str.split(n=1, expand=True)
autos["last_seen"]=autos["last_seen"].str.replace("-","").astype(int)

In [ ]:
# We are deleting the "pictures_nr" column (always=0) and the "postal_code" which seems irrelevant

autos.drop("pictures_nr", axis=1, inplace=True)
autos.drop("postal_code", axis=1, inplace=True)

In [118]:
# Checking if the names of the cars' models are correctly
# written in english



data_volks=autos.loc[autos["brand"]=="volkswagen"]
model_volks=data_volks["model"].unique()
#print(model_volks)

autos["model"]=autos["model"].str.replace("reihe","series")
data_bmw=autos.loc[autos["brand"]=="bmw"]
model_bmw=data_bmw["model"].unique()
#print(model_bmw)

autos["model"]=autos["model"].str.replace("klasse","class")
data_merc=autos.loc[autos["brand"]=="mercedes_benz"]
model_merc=data_merc["model"].unique()
#print(model_merc)

data_opel=autos.loc[autos["brand"]=="opel"]
model_opel=data_opel["model"].unique()
#print(model_opel)

data_audi=autos.loc[autos["brand"]=="audi"]
model_audi=data_audi["model"].unique()
#print(model_audi)


# Making lists of the most common models of the most common brands

comm_brands=autos["brand"].value_counts().head()

for brand in comm_brands.index:
    datas_per_brand=autos.loc[autos["brand"]==brand]
    if brand=="volkswagen":
        volks_mod=datas_per_brand["model"].value_counts().head()
    if brand=="bmw":
        bmw_mod=datas_per_brand["model"].value_counts().head()
    if brand=="mercedes_benz":
        merc_mod=datas_per_brand["model"].value_counts().head()
    if brand=="opel":
        opel_mod=datas_per_brand["model"].value_counts().head()
    if brand=="audi":
        audi_mod=datas_per_brand["model"].value_counts().head()
print(audi_mod)

a4       965
a6       661
a3       643
other    207
tt       121
Name: model, dtype: int64

In [119]:
# Creating dictionaries for the most commond models and their counts

volks={}
count_volks={}
a=1
for i in volks_mod.index:
    volks[a]=i
    a+=1
a=1
for i in volks_mod:
    count_volks[a]=i
    a+=1

bmw={}
count_bmw={}
a=1
for i in bmw_mod.index:
    bmw[a]=i
    a+=1
a=1
for i in bmw_mod:
    count_bmw[a]=i
    a+=1
    
merc={}
count_merc={}
a=1
for i in merc_mod.index:
    merc[a]=i
    a+=1
a=1
for i in merc_mod:
    count_merc[a]=i
    a+=1
    
opel={}
count_opel={}
a=1
for i in opel_mod.index:
    opel[a]=i
    a+=1
a=1
for i in opel_mod:
    count_opel[a]=i
    a+=1
    
audi={}
count_audi={}
a=1
for i in audi_mod.index:
    audi[a]=i
    a+=1
a=1
for i in audi_mod:
    count_audi[a]=i
    a+=1
    
print(audi, count_audi)

{1: 'a4', 2: 'a6', 3: 'a3', 4: 'other', 5: 'tt'} {1: 965, 2: 661, 3: 643, 4: 207, 5: 121}

In [120]:
# Transforming dictionaries into series and merging them into a DataFrame (most_common_mod)

s1=pd.Series(volks)
s2=pd.Series(count_volks)
s3=pd.Series(merc)
s4=pd.Series(count_merc)
s5=pd.Series(bmw)
s6=pd.Series(count_bmw)
s7=pd.Series(opel)
s8=pd.Series(count_opel)
s9=pd.Series(audi)
s10=pd.Series(count_audi)

In [121]:
most_common_mod=pd.DataFrame(s1, columns=["volkswagen"])
most_common_mod["count_volkswagen"]=s2
most_common_mod["mercedes_benz"]=s3
most_common_mod["count_mercedes_benz"]=s4
most_common_mod["bmw"]=s5
most_common_mod["count_bmw"]=s6
most_common_mod["opel"]=s7
most_common_mod["count_opel"]=s8
most_common_mod["audi"]=s9
most_common_mod["count_audi"]=s10

In [122]:
most_common_mod

,volkswagen,count_volkswagen,mercedes_benz,count_mercedes_benz,bmw,count_bmw,opel,count_opel,audi,count_audi
1,golf,2728,c_class,933,3er,2074,corsa,1057,a4,965
2,polo,1103,e_class,763,5er,921,astra,1016,a6,661
3,passat,1022,a_class,415,1er,459,vectra,366,a3,643
4,transporter,532,other,380,x_series,269,zafira,307,other,207
5,touran,333,clk,193,z_series,109,other,116,tt,121

In [126]:
# Calculating the mean prices of cars having splitted the
# mileage in three different parts. x<50000km, 50000<=x<10000 and x>=100000

low_mileage=autos.loc[autos["odometer_km"]<50000]
mid_mileage=autos.loc[(autos["odometer_km"]>=50000)&(autos["odometer_km"]<100000)]
high_mileage=autos.loc[autos["odometer_km"]>=100000]

me_pr_lo_mi=low_mileage["price_usd"].mean()
me_pr_mi_mi=mid_mileage["price_usd"].mean()
me_pr_hi_mi=high_mileage["price_usd"].mean()

print(me_pr_lo_mi, me_pr_mi_mi, me_pr_hi_mi)

17873.231374172185 11417.061060123619 5017.191292230048

It appears evident that cars with a lower mileage (inferior to 50.000 kms) have a higher mean cost (17873 USD) which is 3.56 times the cost of cars with the highest mileage (superior to 100.000 kms)(5017 USD). Cars with a medium mileage (between 50.000 and 100.000 kms) have a cost wich is 64% of the cost of cars with the lowest mileage (11417 USD).

In [129]:
# Calculating the mean prices of cars with repaired/unrepaired damages

dam_cars=autos.loc[autos["unrepaired_damage"]=="yes"]
non_dam_cars=autos.loc[autos["unrepaired_damage"]=="no"]

me_pr_da_ca=dam_cars["price_usd"].mean()
me_pr_no_da_ca=non_dam_cars["price_usd"].mean()

print(me_pr_da_ca, me_pr_no_da_ca)

2812.210153148043 7388.9866471734895

Even more evidently, damaged (and never repaired) cars have a mean cost which is 38% of the cost of never damaged or damaged and repaired cars (2812.21 USD vs. 7388.98 USD).
So damaged cars are 62% cheaper than the undamaged cars.